<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proffy</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/partials/header.css">
    <link rel="stylesheet" href="/styles/partials/forms.css">
    <link rel="stylesheet" href="/styles/partials/page-give-classes.css">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
</head>

<body id="page-give-classes">

    <div id="container">
        <header class="page-header">
            <div class="top-bar-container">
                <a href="/">
                    <img src="/img/icons/back.svg" alt="voltar">
                </a>
                <img src="/img/logo.svg" alt="proffy">
            </div>

            <div class="header-content">
                <strong>"Que incrível que você quer dar aulas</strong>
                <p>O primerio passo, é preencher esse formulário de inscrição</p>
            </div>

        </header>

        <main>
            <form action="/save-classes" id="create-class" method="POST">
                <fieldset>
                    <legend>Seus Dados</legend>

                    <div class="input-block">
                        <label for="name">Nome Completo</label>
                        <input name="name" id="name" required>
                    </div>

                    <div class="input-block">
                        <label for="avatar">Link da sua foto <small>(comece com https://)</small></label>
                        <input name="avatar" id="avatar" type="url" required>
                    </div>

                    <div class="input-block">
                        <label for="whatsapp">Whatsapp <small>(somente números)</small></label>
                        <input name="whatsapp" id="whatsapp" type="number" required>
                    </div>

                    <div class="textarea-block">
                        <label for="bio">Biografia</label>
                        <textarea name="bio" id="bio" required></textarea>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>Sobre a aula</legend>
                    <div class="select-block">
                        <label for="subject">Matéria</label>
                        <select name="subject" id="subject" required>
                            <option value="">Selecione uma opção</option>
                           {%for  subject in subjects %}
                           <option value="{{loop.index}}">
                               {{subject}}
                           </option>
                           {%endfor%}
                        </select>
                    </div>

                    <div class="input-block">
                        <label for="cost"> Custo da sua hora/aula
                            <small>(R$)</small>
                        </label>
                        <input name="cost" type="cost" id="cost" type="number" required>
                    </div>

                </fieldset>

                <fieldset id="schedule-items">
                    <legend> Horários disponíveis
                        <button type="button" id="add-time">+ Novo Horário</button>
                    </legend>

                    <div class="schedule-item">

                        <div class="select-block">
                            <label for="weekday">Dia da semana</label>
                            <select name="weekday[]" required>
                                <option value="">Selecione uma opção</option>
                               {%for weekday in weekdays%}
                                    <option value="{{loop.index0}}">
                                        {{weekday}}
                                    </option>
                               {%endfor%}
                            </select>
                        </div>


                        <div class="input-block">
                            <label for="time_from">Das</label>
                            <input type="time" id="time_from" name="time_from[]" required>
                        </div>

                        <div class="input-block">
                            <label for="time_from">Até</label>
                            <input type="time" id="time_to" name="time_to[]" required>
                        </div>
                    </div>

                </fieldset>
            </form>
            <footer>
                <p>
                    <img src="/img/icons/warning.svg" alt="Aviso importante"> Importante <br> Preencha todos os dados
                    <br> Developed by João Pablo
                </p>
                <button type="submit" form="create-class"> Salvar cadastro</button>
            </footer>
        </main>
    </div>
    </div>

    <script src="/scripts/addField.js"></script>
</body>

</html>