#page-study #container {
    width: 100vw;
    height: 100vh;
}

#search-teachers {
    margin-top: 3.2rem;
}

#search-teachers label {
    color: var(--color-text-in-primary);
}

#search-teachers .select-block {
    margin-bottom: 1.4rem;
}

#search-teachers button {
    width: 100%;
    height: 5.6rem;
    background: var(--color-secondary);
    color: var(--color-button-text);
    border: 0;
    border-radius: .8rem;
    cursor: pointer;
    font: 700 1.6rem Archivo;
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-decoration: none; */
    transition: background 0.2s;
    margin-top: 3.2rem;
}

#search-teachers button:hover {
    background-color: var(--color-secondary-dark);
}

#page-study main {
    margin: 3.2rem auto;
    width: 90%;
}

.teacher-item {
    background-color: var(--color-box-base);
    border: 1px solid var(--color-line-in-white);
    border-radius: .8rem;
    margin-top: 2.4rem;
}

.teacher-item header {
    padding: 3.2rem 2rem;
    display: flex;
    align-items: center;
}

.teacher-item header img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}

.teacher-item header div {
    margin-left: 2.4rem;
}

.teacher-item header div strong {
    font: 700 2.4rem Archivo;
    display: block;
    color: var(--color-text-title);
}

.teacher-item header div span {
    font-size: 1.6rem;
    display: block;
    margin-top: .4rem;
}

.teacher-item>p {
    padding: 0 2rem;
    font-size: 1.6rem;
    line-height: 2.8rem;
}

.teacher-item footer {
    padding: 3.2rem 2rem;
    background-color: var(--color-box-footer);
    border-top: 1px solid var(--color-line-in-white);
    margin-top: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.teacher-item footer p {
    font-size: 1.6rem;
    color: var(--color-text-complement);
}

.teacher-item footer p strong {
    font-size: 1.6rem;
    color: var(--color-primary);
    display: block;
}

.teacher-item footer .button {
    width: 20rem;
    height: 5.6rem;
    background: var(--color-secondary);
    color: var(--color-button-text);
    border: 0;
    border-radius: .8rem;
    cursor: pointer;
    font: 700 1.4rem Archivo;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    transition: background 0.2s;
    margin-left: 1.6rem;
}

.teacher-item footer button:hover {
    background: var(--color-secondary-dark);
}

#page-study main .no-results {
    max-width: 30rem;
    margin: 12rem auto;
    text-align: center;
}

@media(min-width:700px) {
    #page-study #container {
        max-width: 100vw;
    }
    .page-header {
        height: 340px;
    }
    .page-header .top-bar-container {
        max-width: 1100px;
    }
    .page-header .header-content {
        max-width: 740px;
        margin: 0 auto;
        flex: 1 1;
        padding-bottom: 48px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .page-header .header-content strong {
        max-width: 350px;
    }
    .teacher-item header,
    .teacher-item footer {
        padding: 32px;
    }
    #search-teachers {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;
        position: absolute;
        bottom: -28px;
    }
    #page-study main {
        padding: 32px;
        max-width: 740px;
        margin: 0 auto;
    }
    #search-teachers .select-block {
        margin-bottom: 0;
    }
    .teacher-item>p {
        padding: 0 32px;
    }
    .teacher-item footer p strong {
        display: initial;
        margin-left: 16px;
    }
    .teacher-item footer button {
        width: 245px;
        font-size: 16px;
        justify-content: center;
    }
    .teacher-item footer button img {
        margin-right: 16px;
    }
}